In [1]:
import pandas as pd
from collections import defaultdict
import ast
from pathlib import Path
import sys
sys.path.append("..")
from tqdm.notebook import tqdm
from car_purchase_help.data_processing import format_raw_df, clean_similar_cars_dict

%load_ext autoreload
%autoreload 2

In [2]:
# https://www.kaggle.com/austinreese/craigslist-carstrucks-data/
df = pd.read_csv(Path('../data/vehicles.csv'))
df = format_raw_df(df)

In [3]:
with open("similar_cars.txt", "r") as f:
    similar_cars = ast.literal_eval(f.read())

In [4]:
clean_similar_cars = clean_similar_cars_dict(similar_cars, df)

<class 'dict'>

In [5]:
clean_similar_cars['honda_accord']

{'audi_a3',
 'audi_a4',
 'chrysler_300',
 'ford_focus',
 'honda_civic',
 'hyundai_elantra',
 'hyundai_sonata',
 'infiniti_q50',
 'kia_optima',
 'kia_stinger',
 'lexus_is',
 'mazda_3',
 'mazda_6',
 'subaru_liberty',
 'subaru_wrx',
 'toyota_camry',
 'toyota_corolla',
 'volkswagen_passat',
 'volvo_s60'}

In [6]:
clean_similar_cars['ford_escape']

{'audi_q3',
 'bmw_x1',
 'bmw_x2',
 'fiat_500x',
 'ford_ecosport',
 'hyundai_tucson',
 'infiniti_qx30',
 'jeep_cherokee',
 'jeep_compass',
 'jeep_renegade',
 'jeep_wrangler',
 'kia_sorento',
 'kia_sportage',
 'mazda_3',
 'mazda_5',
 'mazda_9',
 'mini_countryman',
 'mitsubishi_outlander',
 'mitsubishi_sport',
 'nissan_juke',
 'nissan_pathfinder',
 'subaru_forester',
 'subaru_outback',
 'toyota_rav4',
 'volkswagen_golf',
 'volkswagen_tiguan',
 'volvo_xc40'}

In [7]:
total_similars = 0
for values in clean_similar_cars:
    total_similars += len(values)

In [8]:
total_similars / len(clean_similar_cars)

12.121212121212121

On average each car has 12 similar cars listed

Finally let's save the cleaned similar cars dictionary so it may be loaded by the web app without needing the dataframe.

In [9]:
with open('../data/clean_similar_cars.txt', "w") as f:
    f.write(str(clean_similar_cars))